*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(104, 104, 247), rgb(82, 255, 82));
    transition: background 0.5s linear;
    background-repeat: no-repeat;
    background-size: cover;
}

body.dark {
    text-align: center;
background-image: linear-gradient(to bottom, rgb(20, 1, 105), rgb(43, 0, 40));
transition: background 0.5s linear;
color: white;
background-repeat: no-repeat;
background-size: cover;
}

main {
    display: inline-block;
    margin-top: 4%;
    padding: 20px;
    position: relative;
}


.pokedex {
    width: 100%;
    max-width: 450px;
}

.pokemon_image {
    position: absolute;
    width: 22%;
    left: 35%;
    bottom: 50%;
    transform: translate(-60, 80);
}

.pokemon_data {

    position: absolute;
    font-weight: 300;
    color: rgb(66, 66, 66);
    top: 55%;
    left: 23%;
    font-size: clamp(5px, 7vw, 32px)
}

.pokemon_name {
    color: rgb(51, 51, 51);
    text-transform: capitalize;
}
.form {
    position: absolute;
    width: 70%;
    top: 65%;
    left: 11%;
    display: block;
}

.imput_search {
width: 78%;
padding: 3%;
outline: none;
border: 2px solid #666;
font-size: clamp(10px, 7vw, 15px);
box-shadow: -2px 2px 0 grey, -4px 3px 0 black;
}

.buttons {
position: absolute;
bottom: 15%;
left: 17%;
width: 60%;
transform: translate(-25%, 50);
display: flex;
gap: 20%;
}

.button {
    width: 60%;
    padding: 5%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(16px, 9vw, 16px);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -1px 1px 0 #222, -2px 2px 0 black;
}

.buttons :active {
  box-shadow: inset 2px 2px 0 grey;
  font-size: 0.9rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
background-color: black;
border-radius: 50px;
cursor: pointer;
display: flex;
justify-content: space-between;
padding: 2px;
position: absolute;
height: 23px;
width: 50px;
top: -8px;
transform: scale(1.3);
}

.label .ball {
background-color: white;
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 19px;
width: 19px;
transform: translateX(0px);
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
transform: translateX(26px);
}

.fa-sun {
    color: rgb(255, 208, 0);
    padding: 1px;
    width: 18px;
}
.fa-moon {
    color: yellow;
    padding: 1px;
    width: 18px;
}